

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App, body, #root {
  width: 100%;
}

.App {
  background-color: #212529;
}
.App-header {
  height: 94px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#header-inner-container {
  width: 1140px;
  display: flex;
  padding: 0 12px;
  justify-content: space-between;
  align-items: center;
}

#header-inner-container img{
  height: 2rem;
}

#header-inner-container ul {
  height: 100%;
  width: 517.3px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding-inline-start: 0px;
}

#header-menu-button {
  width: 80px;
  height: 36px;
  background-color: #fed136;
  border-radius: 0.25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  display: none;
}

#header-inner-container li {
  font-size: 0.95rem;
  letter-spacing: 0.0625em;
  font-weight: 400;
  color: white;
}

@media(max-width: 1200px){
  #header-inner-container {
    width: 960px;
  }
}

@media(max-width: 991px){
  .App-header {
    height: 72px;
  }
  #header-inner-container {
    width: 720px;
  }
  #header-inner-container img {
    width: 140.42px;
    height: 24px;
  }
  #header-inner-container ul {
    display: none;
  }
  #header-menu-button {
    display: flex;
  }
}

@media(max-width: 767px){
  #header-inner-container {
    width: 540px;
  }
}

